body {
  background-color: #ffffff;
  margin: 0px;
  font-family: "Muli", sans-serif;
}

/* .output_canvas {
  position: absolute;
  height: 720px;
  width: 1280px;
  left: 0;
  top: 0;
} */

.d-inline-block {
  display: inline-block;
}

form {
    --background: pink;
  --border: rgba(0, 0, 0, 0.125);
  --borderDark: rgba(0, 0, 0, 0.25);
  --borderDarker: rgba(0, 0, 0, 0.5);
  --bgColorH: 0;
  --bgColorS: 0%;
  --bgColorL: 98%;
  --fgColorH: 210;
  --fgColorS: 50%;
  --fgColorL: 38%;
  --shadeDark: 0.3;
  --shadeLight: 0.7;
  --shadeNormal: 0.5;
  --borderRadius: 0.125rem;
  --highlight: #306090;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0rem 1rem;
  position: relative;
  overflow: hidden;
}

form a:hover {
  color: hsl(var(--fgColorH), var(--fgColorS), calc(var(--fgColorL) * 0.85));
  transition: color 0.25s;
}

form a:focus {
  color: hsl(var(--fgColorH), var(--fgColorS), calc(var(--fgColorL) * 0.85));
  outline: 1px dashed hsl(var(--fgColorH), calc(var(--fgColorS) * 2), calc(var(--fgColorL) * 1.15));
  outline-offset: 2px;
}

form > div {
  order: 2;
}
/* 
label {
  display: flex;
  flex-direction: column;
}

.label-show-password {
  order: 3;
}

label > span {
  color: var(--borderDarker);
  display: block;
  font-size: 0.825rem;
  margin-top: 0.625rem;
  order: 1;
  transition: all 0.25s;
}

label > span.required::after {
  content: "*";
  color: #dd6666;
  margin-left: 0.125rem;
}  
label input {
  order: 2;
  outline: none;
}

label input::placeholder {
  color: var(--borderDark);
}

label input[name="password"] {
  -webkit-text-security: disc;
}

input[name="show-password"]:checked ~ div label input[name="password"] {
  -webkit-text-security: none;
}

label:hover span {
  color: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
}

input[type="checkbox"] + div label:hover span::before,
label:hover input.text {
  border-color: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
}

label input.text:focus,
label input.text:active {
  border-color:  hsl(var(--fgColorH), calc(var(--fgColorS) * 2), calc(var(--fgColorL) * 1.15));
  box-shadow: 0 1px  hsl(var(--fgColorH), calc(var(--fgColorS) * 2), calc(var(--fgColorL) * 1.15));
}

input.text:focus + span,
input.text:active + span {
  color:  hsl(var(--fgColorH), calc(var(--fgColorS) * 2), calc(var(--fgColorL) * 1.15));
} */

.input_login {
  border: 1px solid var(--border);
  border-radius: var(--borderRadius);
  box-sizing: border-box;
  font-size: 1rem;
  height: 2.25rem;
  line-height: 1.25rem;
  margin-top: 0.25rem;
  order: 2;
  padding: 0.25rem 0.5rem;
  width: 10rem;
  transition: all 0.25s;
}

.input_login[type="submit"] {
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 0.625rem;
  order: 4;
  outline: 1px dashed transparent;
  outline-offset: 2px;
  padding-left: 0;
  text-transform: uppercase;
}

.input_login[type="checkbox"]:focus + label span::before,
.input_login[type="submit"]:focus {
  outline: 1px dashed hsl(var(--fgColorH), calc(var(--fgColorS) * 2), calc(var(--fgColorL) * 1.15));
  outline-offset: 2px;
}

.input_login[type="submit"]:active {
  transition: all 0.125s;
}

/** Checkbox styling */
.a11y-hidden {
  position: absolute;
  top: -1000em;
  left: -1000em;
}


video {
  object-fit: cover;
}

/* Video div/backround */
#bg {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 48%;
  height: 97%;
}

#logo {
  margin-top: 72px;
  width: 34vmin;
}

.builders-logo {
  margin-top: 30px !important;
}

#thumb {
  width: 77px;
  margin-top: 0px;
}

.finger-sizing {
  width: 43px
}

.icon {
  width: 43px;
}
.icon svg {
  width: 100%;
  height: auto;
}

span {
  text-transform: uppercase;
  text-align: center;
  padding: 4px;
  font-size: 3.3vmax;
  line-height: 4.4vmax;
  display: block;
}

.span-resize {
  font-size: 12px;
  line-height: 2.5;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  padding-top: 6vh;
  width: 33%;
}

.modal-content svg {
  width: 100%;
  height: auto;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}


.frame {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 50%;
  padding: 4px;
  border: solid 2vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  height: 100vh;
  text-align: center;
}

#dummy_input {
  transform: scaleX(-1);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.flex-con {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.flex-con-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-con-height {
  height: 42vh;
}

.flex-con-height-adjust {
  height: 70vh;
}

.grad-bg {
  background-image: linear-gradient(#ec008c,white 30%);
}

.mm-mb-50 {
  margin-bottom: 50px;
}
/* xs */

@media (min-width: 480px){
  span {
    padding: 16px;
  }

  .span-resize {
    font-size: 2.3vmax;
    line-height: 3.4vmax;
  }

  .frame {
    padding: 20px;
  }
}

/* sm */

@media (min-width: 576px){
  span {
    padding: 25px 25px 8px 25px;
  }

  .span-resize {
    font-size: 2.5vmax;
  }

  .flex-con-height {
    height: 50vh;
  }

  #thumb {
    width: 110px;
    margin-top: 5vh;
  }

  .finger-sizing {
    width: 51px
  }

  .icon {
    width: 51px;
  }

  .input_login {
    width: 15rem
  }
}

/* md */

@media (min-width: 768px){
  .finger-sizing {
    width: 71px
  }
}

/* lg */

@media (min-width: 992px){
  .finger-sizing {
    width: 86px
  }

  .icon {
    width: 86px;
  }
}

/* xl */

@media (min-width: 1200px) {
}

/* xxl */

@media (min-width: 1400px) {
  #thumb {
    width: 140px;
  }

  .finger-sizing {
    width: 91px
  }

  .icon {
    width: 91px;
  }
}

/* xxxl */

@media (min-width: 2000px) {
  #thumb {
    width: 160px;
    margin-top: 8vh;
  }

  .flex-con-height {
    height: 54vh;
  }

  .finger-sizing {
    width: 100px
  }

  .icon {
    width: 100px;
  }
}